# Welcome!

#### Pandas: Intro Practice Problems

In this homework, you're going to write code for a few problems. 

You'll be practicing these programming concepts we've covered in class:
* Reading data sets into Pandas.
* Filtering, manipulating, and sorting data sets.
* Basic exploratory data analysis with Pandas.

#### #1. Import Pandas with an alias of `pd`.

In [2]:
import pandas as pd

#### #2. Read in the NBA players `csv` into a variable called `nba_df`.

This is a data set of NBA players from 2015. The filename is `NBA_players_2015.csv`.

In [3]:
df=pd.read_csv('NBA_players_2015 1.csv')
df

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Quincy Acy,F,24,NYK,52,21,19.2,2.2,4.6,...,15.1,14.7,0.6,0.5,1.0,0.050,-2.6,-0.7,-3.4,-0.3
1,2015,Jordan Adams,G,20,MEM,18,0,7.3,1.0,2.1,...,15.9,17.7,0.0,0.2,0.2,0.076,-2.3,1.8,-0.5,0.0
2,2015,Steven Adams,C,21,OKC,51,50,24.2,3.0,5.5,...,19.2,14.8,1.0,1.8,2.8,0.109,-2.0,2.0,-0.1,0.6
3,2015,Jeff Adrien,F,28,MIN,17,0,12.6,1.1,2.6,...,12.9,14.1,0.2,0.2,0.4,0.093,-2.6,0.8,-1.8,0.0
4,2015,Arron Afflalo,G,29,TOT,60,54,32.5,5.0,11.8,...,10.9,19.6,1.4,0.7,2.1,0.051,-0.2,-1.4,-1.6,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,2015,James Young,G,19,BOS,27,0,10.9,1.1,3.3,...,3.9,15.3,0.1,0.2,0.2,0.040,-1.9,-2.2,-4.1,-0.2
474,2015,Nick Young,G,29,LAL,42,0,23.8,4.1,11.3,...,7.5,26.0,1.1,0.1,1.2,0.059,1.0,-4.2,-3.2,-0.3
475,2015,Thaddeus Young,F,26,TOT,58,50,31.8,5.9,12.8,...,9.7,21.3,1.4,1.1,2.4,0.064,0.4,-0.1,0.3,1.1
476,2015,Cody Zeller,C,22,CHO,61,44,24.1,2.8,6.1,...,12.3,15.6,1.7,2.2,3.9,0.129,-1.9,2.5,0.7,1.0
477,2015,Tyler Zeller,C,25,BOS,62,39,20.8,3.9,7.1,...,10.5,19.1,3.2,1.3,4.5,0.167,0.2,0.4,0.7,0.9

#### #3. Look at the first five rows of the data set.

In [6]:
df.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Quincy Acy,F,24,NYK,52,21,19.2,2.2,4.6,...,15.1,14.7,0.6,0.5,1.0,0.050,-2.6,-0.7,-3.4,-0.3
1,2015,Jordan Adams,G,20,MEM,18,0,7.3,1.0,2.1,...,15.9,17.7,0.0,0.2,0.2,0.076,-2.3,1.8,-0.5,0.0
2,2015,Steven Adams,C,21,OKC,51,50,24.2,3.0,5.5,...,19.2,14.8,1.0,1.8,2.8,0.109,-2.0,2.0,-0.1,0.6
3,2015,Jeff Adrien,F,28,MIN,17,0,12.6,1.1,2.6,...,12.9,14.1,0.2,0.2,0.4,0.093,-2.6,0.8,-1.8,0.0
4,2015,Arron Afflalo,G,29,TOT,60,54,32.5,5.0,11.8,...,10.9,19.6,1.4,0.7,2.1,0.051,-0.2,-1.4,-1.6,0.2

#### #4. Check out the shape of the data set.

In [10]:
df.shape

(478, 49)

#### #5. Run some summary stats on the data set with the `describe()` function.

In [6]:
df.describe()

,season_end,age,g,gs,mp,fg,fga,fg_,x3p,x3pa,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,478.0,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,...,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000
mean,2015.0,26.573222,42.104603,19.874477,20.045607,3.018201,6.847699,0.429230,0.630544,1.855649,...,13.424268,18.915272,1.055858,0.971339,2.027197,0.073575,-1.396862,-0.495816,-1.892678,0.485983
std,0.0,4.219585,18.950602,22.170034,9.313441,2.052790,4.386828,0.111007,0.665808,1.790564,...,6.559989,5.493491,1.589667,0.876932,2.243138,0.133530,4.251216,2.299572,5.116001,1.013097
min,2015.0,19.000000,1.000000,0.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-2.100000,-0.100000,-0.800000,-1.059000,-36.800000,-13.500000,-50.300000,-1.000000
25%,2015.0,23.000000,27.000000,0.000000,12.600000,1.425000,3.400000,0.391000,0.000000,0.100000,...,10.000000,14.800000,0.000000,0.200000,0.300000,0.040250,-2.800000,-1.600000,-3.300000,-0.100000
50%,2015.0,26.000000,47.000000,10.500000,19.850000,2.700000,5.900000,0.432000,0.450000,1.400000,...,12.900000,18.400000,0.600000,0.800000,1.400000,0.082500,-1.000000,-0.500000,-1.300000,0.100000
75%,2015.0,29.000000,59.000000,39.000000,28.175000,4.275000,9.600000,0.481750,1.000000,3.075000,...,15.900000,21.900000,1.600000,1.500000,3.000000,0.123000,0.500000,0.875000,0.500000,0.700000
max,2015.0,38.000000,66.000000,66.000000,38.900000,9.500000,21.400000,1.000000,3.400000,8.000000,...,100.000000,45.900000,9.500000,4.300000,13.000000,1.489000,28.300000,6.500000,15.100000,6.200000

#### #6. Sort the data set in on the `players` column in alphabetical order.

In [6]:
df_sorted = df.sort_values(by='player', ascending=True)

print(df_sorted)

     season_end         player pos  age bref_team_id   g  gs    mp   fg   fga  \
359        2015     A.J. Price   G   28          TOT  21   0  13.3  2.3   5.9
60         2015   Aaron Brooks   G   30          CHI  65   9  21.0  3.9   9.3
166        2015   Aaron Gordon   F   19          ORL  30   6  15.2  1.9   3.8
348        2015  Adreian Payne   F   23          TOT  12   3  19.7  2.3   6.1
212        2015     Al Horford   C   28          ATL  60  60  30.8  6.8  12.6
..          ...            ...  ..  ...          ...  ..  ..   ...  ...   ...
199        2015   Xavier Henry   F   23          LAL   9   0   9.6  0.3   1.4
261        2015    Zach LaVine   G   19          MIN  57  23  20.4  2.9   6.9
366        2015  Zach Randolph   F   33          MEM  53  53  32.6  6.6  13.4
340        2015  Zaza Pachulia   C   30          MIL  54  26  22.5  2.9   6.8
125        2015   Zoran Dragic   G   25          TOT   8   0   2.3  0.3   1.0

     ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
359  ...   8.9  23.6  0.2  0.2  0.4  0.072   0.5  -2.8 -2.4   0.0
60   ...  15.5  25.7  1.1  1.0  2.1  0.073   0.7  -2.8 -2.1   0.0
166  ...  17.0  15.9  0.3  0.3  0.6  0.066  -2.5  -0.5 -3.1  -0.1
348  ...  13.6  17.7 -0.3  0.1 -0.1 -0.024  -5.8  -2.5 -8.3  -0.4
212  ...   9.1  22.1  4.6  3.0  7.5  0.195   1.7   2.7  4.5   3.0
..   ...   ...   ...  ...  ...  ...    ...   ...   ...  ...   ...
199  ...  11.3  13.7 -0.1  0.0 -0.1 -0.030  -5.3  -2.3 -7.6  -0.1
261  ...  21.3  20.6 -0.9  0.2 -0.7 -0.029  -2.9  -2.2 -5.0  -0.9
366  ...  12.4  24.5  2.6  2.9  5.5  0.153   0.2   0.8  1.0   1.3
340  ...  18.7  18.9  0.1  2.0  2.1  0.084  -2.2   2.0 -0.2   0.6
125  ...   0.0  22.6  0.0  0.0  0.0 -0.056  -1.9  -5.3 -7.2   0.0

[478 rows x 49 columns]

#### #7. Filter the data set. Create three sub DataFrames from the `position` column for `G`, `F`, and `C`.

In [34]:
df1=df[df['pos']=='G']
df2=df[df['pos']=='F']
df3=df[df['pos']=='C']
print(df1.head())
print(df2.head())
print(df3.head())

    season_end                 player pos  age bref_team_id   g  gs    mp  \
1         2015           Jordan Adams   G   20          MEM  18   0   7.3
4         2015          Arron Afflalo   G   29          TOT  60  54  32.5
10        2015             Tony Allen   G   33          MEM  54  36  25.6
14        2015          Alan Anderson   G   32          BRK  62  19  23.8
17        2015  Giannis Antetokounmpo   G   20          MIL  63  53  30.4

     fg   fga  ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
1   1.0   2.1  ...  15.9  17.7  0.0  0.2  0.2  0.076  -2.3   1.8 -0.5   0.0
4   5.0  11.8  ...  10.9  19.6  1.4  0.7  2.1  0.051  -0.2  -1.4 -1.6   0.2
10  3.5   7.0  ...  14.1  16.4  0.8  2.6  3.4  0.118  -0.3   3.6  3.2   1.8
14  2.5   5.7  ...  11.8  13.7  1.3  0.9  2.1  0.070  -0.2  -0.3 -0.5   0.6
17  4.6   9.3  ...  16.4  19.7  1.6  3.2  4.8  0.121  -1.6   2.6  1.0   1.5

[5 rows x 49 columns]
   season_end             player pos  age bref_team_id   g  gs    mp   fg  \
0        2015         Quincy Acy   F   24          NYK  52  21  19.2  2.2
3        2015        Jeff Adrien   F   28          MIN  17   0  12.6  1.1
6        2015     Furkan Aldemir   F   23          PHI  25   1  10.7  0.6
8        2015  LaMarcus Aldridge   F   29          POR  54  54  36.2  9.1
9        2015        Lavoy Allen   F   25          IND  47   0  19.6  2.7

    fga  ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
0   4.6  ...  15.1  14.7  0.6  0.5  1.0  0.050  -2.6  -0.7 -3.4  -0.3
3   2.6  ...  12.9  14.1  0.2  0.2  0.4  0.093  -2.6   0.8 -1.8   0.0
6   1.3  ...  21.1   7.8  0.3  0.4  0.7  0.127  -2.9   3.1  0.2   0.2
8  20.2  ...   7.3  29.9  3.3  3.2  6.5  0.161  -0.4   0.3 -0.1   0.9
9   5.5  ...  10.0  15.2  1.5  1.4  2.9  0.152  -0.5   2.4  1.9   0.9

[5 rows x 49 columns]
    season_end          player pos  age bref_team_id   g  gs    mp   fg  fga  \
2         2015    Steven Adams   C   21          OKC  51  50  24.2  3.0  5.5
5         2015   Alexis Ajinca   C   26          NOP  51   6  14.0  2.8  4.8
7         2015    Cole Aldrich   C   26          NYK  45  12  15.9  2.3  4.8
13        2015  Chris Andersen   C   36          MIA  46  18  19.5  1.9  3.3
19        2015    Joel Anthony   C   32          DET  32   0   5.8  0.5  0.8

    ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
2   ...  19.2  14.8  1.0  1.8  2.8  0.109  -2.0   2.0 -0.1   0.6
5   ...  15.3  20.8  1.8  0.9  2.7  0.181   0.4   0.2  0.7   0.5
7   ...  15.5  17.9  0.4  0.9  1.3  0.089  -2.6   2.3 -0.3   0.3
13  ...  11.3  11.7  1.8  1.1  3.0  0.159  -1.0   2.2  1.3   0.7
19  ...  15.9   8.9  0.2  0.3  0.5  0.123  -4.5   3.9 -0.6   0.1

[5 rows x 49 columns]

#### #8.  Run `describe()` on these new DataFrames. Compare the mean field goals (the `fg` column) between positions.

In [ ]:

describe_G = df1.describe()
describe_F = df2.describe()
describe_C = df3.describe()

mean_fg_G = describe_G['fg']['mean']
mean_fg_F = describe_F['fg']['mean']
mean_fg_C = describe_C['fg']['mean']

# Print the mean field goals for each position
print(f"Mean Field Goals for Guards (G): {mean_fg_G}")
print(f"Mean Field Goals for Forwards (F): {mean_fg_F}")
print(f"Mean Field Goals for Centers (C): {mean_fg_C}")

Mean Field Goals for Guards (G): 3.2
Mean Field Goals for Forwards (F): 2.8467336683417086
Mean Field Goals for Centers (C): 2.9898734177215194

The end!

#### Great job!