# Pandas Exercises

Time to test your pandas skills! Use the csv file to complete the tasks in bold below!

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [1]:
import pandas as pd

In [2]:
banks=pd.read_csv("banklist.csv")
banks

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
...,...,...,...,...,...,...,...
546,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
547,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
548,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
549,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
550,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05

** Show the head of the dataframe **

In [3]:
# CODE HERE
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [4]:
# CODE HERE
x=banks.columns
print(x)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [5]:
# CODE HERE
x=banks.value_counts('ST')
x

ST
GA    93
FL    75
IL    67
CA    41
MN    23
WA    19
AZ    16
MO    16
MI    14
TX    12
NV    12
WI    11
SC    10
PA    10
CO    10
MD    10
KS     9
UT     8
OH     8
AL     7
TN     7
OK     7
NC     7
NJ     7
OR     6
NY     5
VA     5
PR     4
LA     4
NE     3
NM     3
IN     3
AR     3
ID     2
IA     2
CT     2
KY     2
MS     2
HI     1
MA     1
NH     1
SD     1
WV     1
WY     1
Name: count, dtype: int64

** Get a list or array of all the states in the data set. **

In [6]:
# CODE HERE
x=list (banks["ST"])
print(x)

['IL', 'WI', 'LA', 'UT', 'IL', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WI', 'WA', 'GA', 'CO', 'IL', 'PR', 'GA', 'IL', 'FL', 'MN', 'CA', 'IL', 'MD', 'IL', 'GA', 'OK', 'FL', 'IL', 'MD', 'OH', 'IL', 'SC', 'PA', 'VA', 'ID', 'OK', 'IL', 'TX', 'FL', 'TX', 'CT', 'AZ', 'TN', 'WI', 'FL', 'TN', 'NV', 'WI', 'AZ', 'GA', 'NC', 'GA', 'NC', 'FL', 'FL', 'KY', 'AZ', 'GA', 'IL', 'MN', 'WA', 'MO', 'GA', 'IL', 'FL', 'PA', 'MO', 'FL', 'FL', 'IL', 'MO', 'MN', 'IL', 'GA', 'IL', 'KS', 'GA', 'GA', 'FL', 'MO', 'GA', 'TN', 'GA', 'FL', 'NC', 'IL', 'SC', 'OK', 'AL', 'FL', 'CA', 'SC', 'MN', 'MD', 'MD', 'NJ', 'MI', 'IL', 'GA', 'IL', 'GA', 'MN', 'GA', 'IN', 'IL', 'TN', 'MN', 'TN', 'FL', 'PA', 'GA', 'FL', 'AZ', 'FL', 'LA', 'IA', 'GA', 'UT', 'NE', 'IL', 'CO', 'GA', 'GA', 'FL', 'IL', 'NJ', 'NC', 'GA', 'MO', 'MN', 'TX', 'CA', 'VA', 'FL', 'GA', 'GA', 'IL', 'GA', 'FL', 'PA', 'KS', 'WA', 'IL', 'IN', 'SC', 'VA', 'CO', 'FL', 'FL', 'AZ', 'FL', 'GA', 'GA', 'CO', 'CO', 'IL', 'GA', 'FL', 'GA', 'SC', 'WA', 'WA', 'GA', 'GA', 'FL', 'MI', 'GA', 'GA', 'FL', 'FL', 'MS', 'MN', 'AL', 'AL', 'GA', 'GA', 'NV', 'IL', 'IL', 'WI', 'OK', 'IL', 'CA', 'CA', 'GA', 'GA', 'CA', 'WI', 'MI', 'FL', 'IL', 'GA', 'GA', 'NM', 'CO', 'WI', 'OK', 'CO', 'NC', 'SC', 'GA', 'GA', 'AZ', 'FL', 'MN', 'AR', 'GA', 'GA', 'GA', 'FL', 'PA', 'MI', 'WI', 'PA', 'FL', 'AZ', 'GA', 'GA', 'CA', 'WA', 'CA', 'MD', 'AZ', 'KS', 'IL', 'GA', 'GA', 'FL', 'FL', 'MO', 'MO', 'KS', 'WA', 'FL', 'WA', 'FL', 'WI', 'OH', 'GA', 'GA', 'GA', 'NJ', 'FL', 'CA', 'CA', 'CA', 'CA', 'IL', 'VA', 'FL', 'FL', 'IL', 'IL', 'OR', 'WA', 'FL', 'FL', 'GA', 'OR', 'NV', 'MN', 'KS', 'SC', 'GA', 'FL', 'MI', 'FL', 'FL', 'FL', 'SC', 'SC', 'OK', 'NY', 'MD', 'MD', 'NM', 'GA', 'FL', 'NV', 'WA', 'NE', 'IL', 'MS', 'NV', 'CA', 'FL', 'FL', 'FL', 'MN', 'IL', 'MO', 'MI', 'GA', 'CA', 'AZ', 'MN', 'FL', 'WA', 'MO', 'MO', 'MI', 'PR', 'PR', 'PR', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'WA', 'CA', 'CA', 'MA', 'FL', 'FL', 'FL', 'MI', 'SC', 'AZ', 'GA', 'FL', 'GA', 'MN', 'AL', 'GA', 'GA', 'UT', 'GA', 'OH', 'LA', 'FL', 'NY', 'NY', 'UT', 'MD', 'IL', 'FL', 'WA', 'NV', 'CA', 'IL', 'TX', 'FL', 'MN', 'WA', 'CA', 'GA', 'MN', 'FL', 'GA', 'OR', 'WA', 'NM', 'MO', 'FL', 'UT', 'MN', 'IL', 'WA', 'CA', 'CA', 'IL', 'AL', 'MI', 'FL', 'GA', 'KS', 'AZ', 'FL', 'VA', 'IL', 'OH', 'GA', 'GA', 'GA', 'FL', 'CA', 'FL', 'FL', 'CA', 'MO', 'MN', 'MI', 'GA', 'TX', 'TX', 'TX', 'IL', 'CA', 'CA', 'CA', 'IL', 'AZ', 'IL', 'MN', 'WI', 'FL', 'FL', 'GA', 'FL', 'CA', 'CO', 'MN', 'MI', 'GA', 'KY', 'IN', 'WA', 'MN', 'IL', 'AZ', 'IL', 'IA', 'IL', 'MO', 'CA', 'MN', 'MD', 'TX', 'AL', 'GA', 'GA', 'NV', 'AZ', 'AZ', 'AL', 'PA', 'OR', 'FL', 'FL', 'IL', 'NJ', 'OH', 'FL', 'OK', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'NY', 'CA', 'CA', 'SD', 'GA', 'WY', 'IL', 'TX', 'IL', 'IL', 'IL', 'IL', 'IL', 'CA', 'CA', 'MN', 'GA', 'GA', 'KS', 'NC', 'GA', 'IL', 'IL', 'IL', 'FL', 'WA', 'UT', 'NJ', 'GA', 'ID', 'CA', 'MI', 'GA', 'NV', 'MO', 'CO', 'NC', 'GA', 'KS', 'CO', 'GA', 'GA', 'NV', 'IL', 'OR', 'OR', 'IL', 'FL', 'NE', 'CA', 'CA', 'GA', 'FL', 'MD', 'UT', 'CA', 'WA', 'IL', 'TX', 'GA', 'GA', 'CA', 'CA', 'GA', 'CA', 'TX', 'FL', 'GA', 'IL', 'MI', 'NV', 'WV', 'NV', 'GA', 'KS', 'FL', 'CA', 'NV', 'CA', 'MN', 'AR', 'MO', 'MO', 'OH', 'GA', 'PA', 'UT', 'NY', 'FL', 'NJ', 'PA', 'WI', 'CA', 'LA', 'TN', 'GA', 'CT', 'MI', 'FL', 'AZ', 'OH', 'TX', 'FL', 'IL', 'OH', 'NH', 'IL', 'HI']

** What are the top 5 states with the most failed banks? **

In [7]:
# CODE HERE
state_failed = banks['ST'].value_counts()
state_failed.head()

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

** What are the top 5 acquiring institutions? **

In [8]:
# CODE HERE
acquiring = banks['Acquiring Institution'].value_counts()
acquiring.head()

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [9]:
# CODE HERE
acquired_banks = banks[banks['Acquiring Institution'] == 'State Bank of Texas']

total_acquired_by_sbtx = acquired_banks.shape[0]
acquired_in_texas = acquired_banks[acquired_banks['ST'] == 'TX'].shape[0]

print(f"Total banks acquired by State Bank of Texas: {total_acquired_by_sbtx}")
print(f"Number of acquired banks that were in Texas: {acquired_in_texas}")

Total banks acquired by State Bank of Texas: 3
Number of acquired banks that were in Texas: 1

** What is the most common city in California for a bank to fail in?**

In [10]:
# CODE HERE
CA_banks = banks[banks['ST'] == 'CA']

most_common_city = CA_banks['City'].mode()[0]
most_common_city

'Los Angeles'

** How many failed banks don't have the word "Bank" in their name? **

In [11]:
# CODE HERE
failed_bank = banks[~banks['Bank Name'].str.contains('Bank', case=False)].shape[0]
failed_bank

10

** How many bank names start with the letter 's' ? **

In [12]:
# CODE HERE
name_bank=banks[banks["Bank Name"].str.startswith('S')].shape[0]
print(name_bank)

53

** How many CERT values are above 20000 ? **

In [13]:
# CODE HERE
cert_max=banks[banks["CERT"]>20000]
print(cert_max)

                                             Bank Name                City  \
1    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
2                                       First NBC Bank         New Orleans
3                                        Proficio Bank  Cottonwood Heights
5                               Harvest Community Bank          Pennsville
8                               First CornerStone Bank     King of Prussia
..                                                 ...                 ...
544                              Bank of Sierra Blanca       Sierra Blanca
545                                  Hamilton Bank, NA               Miami
546                                 Superior Bank, FSB            Hinsdale
548                    First Alliance Bank & Trust Co.          Manchester
550                                   Bank of Honolulu            Honolulu

     ST   CERT                Acquiring Institution Closing Date Updated Date
1    WI  30003  First-Citizens Bank & Trust Company     5-May-17     1-Jun-17
2    LA  58302                         Whitney Bank    28-Apr-17    23-May-17
3    UT  35495                    Cache Valley Bank     3-Mar-17    18-May-17
5    NJ  34951  First-Citizens Bank & Trust Company    13-Jan-17    18-May-17
8    PA  35312  First-Citizens Bank & Trust Company     6-May-16     6-Sep-16
..   ..    ...                                  ...          ...          ...
544  TX  22002     The Security State Bank of Pecos    18-Jan-02     6-Nov-03
545  FL  24382     Israel Discount Bank of New York    11-Jan-02    21-Sep-15
546  IL  32646                Superior Federal, FSB    27-Jul-01    19-Aug-14
548  NH  34264  Southern New Hampshire Bank & Trust     2-Feb-01    18-Feb-03
550  HI  21029                   Bank of the Orient    13-Oct-00    17-Mar-05

[417 rows x 7 columns]

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [14]:
# CODE HERE
banks['Word Count'] = banks['Bank Name'].str.split().str.len()
banks_two_words = banks[banks['Word Count'] == 2]
count_banks_two_words = banks_two_words.shape[0]

print(f"Number of banks with exactly two words in their name: {count_banks_two_words}")

Number of banks with exactly two words in their name: 114

How many banks closed in the year 2008?

In [ ]:
# CODE HERE
banks['Closing Date'] = pd.to_datetime(banks['Closing Date'], format='%d-%b-%y')
banks['Closing Date'] = banks['Closing Date'].dt.year

count_banks_closed_2008 = banks[banks['Closing Date'] == 2008].shape[0]
print(count_banks_closed_2008)

25

# GREAT JOB!